.user-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    background: whitesmoke;
}

.userInfor {
    width: 570px;
    height: 570px;
    margin-top: 23px;
    padding: 12px;
    box-shadow: 0px 0px 0px rgb(0 0 0 /20%);
    border-radius: 20px;
    font-weight: 500;
    background: rgb(105, 167, 217);
}

.userInfor h2 {
    color: rgb(38, 70, 96);
    font-size: 26px;
}

.userInfor-input {
    display: flex;
    flex-direction: column;
    align-content: center;
    color: rgb(151, 77, 77);
    align-items: baseline;
}

.infor {
    position: relative;
    display: flex;
    flex-direction: column;
}

.inforText {
    font-size: 28px;
}

.account-icon {
    font-size: 28px;
    position: absolute;
    width: 58px;
    height: 58px;
    color: #1f78bc;
    top: 0;
    cursor: pointer;
    right: 0;
}

.uploadImage {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.form-image {
    position: relative;
}
.accountImage img{
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid rgb(19, 24, 27);
}
.buttonCamera{
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
}
.iconCamera {
    font-size: 30px;
    position: absolute;
    bottom: 10%;
    right: 38%;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.check {
    display: flex;
    flex-direction: row;
    font-size: 26px;
    width: 100%;
    align-items: center;
    margin-left: 14px;
}

.check span {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 10px;
}

.check input[type='radio'] {
    width: 10px;
    height: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 3px;
}

.form-input {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: black;
    font-size: 16px;
}

.form-input input {
    height: 5vh;
    border-radius: 10px;
}

.user-page input {
    width: 92%;
    outline: none;
    padding: .3rem 0.5rem;
    margin: .5rem;
}

.user-page input[type="submit"] {
    color: white;
    cursor: pointer;
    font-size: 18px;
    border-radius: 10px;
    font-weight: 500;
    width: 100%;
    margin-right: 30px;
}

.form-image-upload {
    display: flex;
}

.form-image-upload {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    position: absolute;
    right: 40%;
}

.iconCancel {
    font-size: 16px;
    border: #111416 solid ;
    border-radius: 15px;
    cursor: pointer;
    height: 40px;
    width: 70px;
}
.iconCancel:hover{
    background: rgb(205, 193, 193);
}

.iconSave {
    border-radius: 15px;
    font-size: 16px;
    color: white;
    background-color: #6498c0;
    border: #023d6b solid ;
    cursor: pointer;
    width: 100px;
    margin-left: 30px;
}
.iconSave:hover{
    background-color: #4e8596;
}

.button1 {
    margin: 0 40px 0 160px;
}
.buttonInfo{
    margin-top: 30px;
    position: relative;
    right: 0;
    font-size: 16px;
    height: 32px;
    bottom: 0;
}
.buttonSaveInfo{
    cursor: pointer;
    margin-left: 30px;
    border-radius: 10px;
    background-color: #6498c0;
    width: 60px;
}
.buttonSaveInfo:hover{
    background-color: #4e8596;
}
.buttonDestroy{
    border-radius: 10px;
}
.buttonDestroy:hover{
    background: rgb(205, 193, 193);
}
input[type=submit].buttonDestroy {
    background-color: rgb(203, 197, 197);
    color: rgb(84, 82, 82);
}


@media screen and (max-width: 800px) {
    #userInfor {
        padding: 1rem;
    }

    .user-page {
        position: relative;
        width: 100%;
        padding: 1rem;
    }

    .form-order {
        padding: 1rem;
    }

    .-page input,
    textarea {
        margin: 8px 0;
    }

    .user-page textarea {
        margin: 10px 0;
    }
}

@media screen and (max-width: 500px) {
    .form-signup input {
        font-size: 16px;
    }
}