*{
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 50px;
    background: rgb(105, 167, 217);
    position: sticky;
    top: 0;
    z-index: 10000;
}
.logo img{
    width: 30px;
    height: 30px;
    border: 1px solid rgb(65, 145, 211);
    border-radius: 5px;
    margin-left: 10px;
}
#menu {
    /* height: 100%; */
    /* margin: auto; */
    display: flex;
    align-items: center;
    position: relative;
}
#menu a{
    margin: 8px 10px 0 10px;
    font-weight: 500;
    font-size: 18px;
    color: white;
}
#menu a:hover{
    color: rgb(216, 47, 20);

}
.logo{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   cursor: pointer;
}
.logo span a{
    font-size: 30px;
    color: #fff;
    margin-right: 1rem;
    /* text-align: center; */
}
.menu-list {
    display: flex;
    margin: 0;
}
/* .create-account {
    display: flex;
    position: absolute;
    right: 0;
} */

.menu-list li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-width: 100px; */
}
.menu-list li > a {
    position: relative;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 1rem;
    font-size: 22px;
}
.menu-list li #register{
    color: black !important;
}
.menu-list ul {
    margin: 0;
    padding: 0;
}
.create-account {
    position: absolute;
    width: 250px;
    top: 0;
    right: 0;
    margin-top: 8px;
}

.account-icon {
    cursor: pointer;
    color: white;
    font-size: 25px;
}
.account-icon-menu{
    color:#0b77c0;
    font-size: 15px;
    top: 0;
    right: 0;
}
.account-menu {
    display: none; /* Ẩn menu ban đầu */
    position: absolute;
    top: 100%;
    /* width: 100%; */
    left: 0;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.create-account:hover .account-menu {
    display: flex; /* Hiển thị menu khi hover vào div */
    flex-direction: column;
}
.file{
    border-radius: 2px;
    margin: 2px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.file i{
    margin: 7px;
}
.file:hover{
    background-color: rgb(181, 215, 236);

}  

.create-account:hover .account-menu {
    display: flex; /* Hiển thị menu khi hover vào div */
    flex-direction: column;
    
  }  */
.menu-drop{
    position: absolute;
    margin-top: .5rem;
    top: 100%;
    width: 100%;
    left: 0;
    background: white;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 3px 4px -5px;
}
.menu-drop a{
    padding: .3rem 1rem;
    color: #333;
}
.menu-drop a:hover{
    background: #eee;
    color: #333;
}
.search{
    flex-grow: 1;
}
.search form {
    position: relative;
    bottom: 0;
    left: 0;
 }
.search form input {
   padding: 1rem 1rem;
   outline: none;
   border: none rgb(50, 94, 126);
   width: 100%;
   position: absolute;

}
.search form span {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
 }
 .search form span svg{
    font-size: 20px;
    color: white;
 }
 .search span button {
    width: 150px;
    height: 50px;
    background-color: rgb(228, 39, 6);
    font-size: 20px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
 }
.SearchProduct{
    display: flex;
    position: relative;
    margin: 0 30px;
}
#SearchProduct{
    width: 700px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 20px;
}
.submit{
    position: absolute;
    right: 10px;
    top: 5px;
    width: 40px;
    height: 40px;
    line-height: 21px;
    text-align: center;
    background: #5a9bc7;
    color: white;
    border: none;
    padding: 5px;
    font-size: 22px;
}
.close{
    display: none;
}
.bar{
    display: none;
    cursor: pointer;
}
.line{
    display: block;
    width: 25px;
    height: 3px;
    background: white;
    margin: 8px 0;
}
.ant-dropdown-link:hover{
    color: #fff;
    cursor: pointer;
}
.count{
    position: absolute;
    top: 0;
    right: 0px;
    width: 20px;
    height: 22px;
    background: white;
    color: #d70018;
    line-height: 20px;
    text-align: center;
    border-radius: 100%;
}

@media screen and (max-width: 800px){
    #hidden{
        display: none;
    }
    #menu{
        width: 100%;
        padding: 0 .3rem;
    }
    .logo{
        flex-grow: 0;
    }
    .menu-list{
        position: absolute;
        top:0%;
        left: 0;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        background: black;
        z-index: 11;
        opacity: 0.9;
        padding-top: 9rem;
        margin-top: 60px;
    }
    .menu-list li{
        padding: 1rem 0;
    }
    .menu-list a{
        padding: 0;
        color: white;
        /* font-size: 12px; */
    }
    .close{
        position: absolute;
        right: 1rem;
        top: 1rem;
        cursor: pointer;
        display: block;
    }
    .bar{
        display: block;
        margin-left: 1rem;
    }
    .search{
        flex-grow: 1;
    }
    .search form{
        display: flex;
    }
    .search form input {
        width: 100%;
     }
}